{% extends "datapage.html" %}
{% load qoftags %}

{% block data %}
{% url qofdb.views.area orgcode=org.orgcode year=99 indicator=indicator.areaid as thispage %}
{%include 'selectyear.html' %}
<h1>Data for {{ indicator.areaid }}</h1>
<p>{{ indicator.description }}</p>
<table summary="Data for this organisation" >
<thead><tr>{% for heading in table.headings %}<th>{{heading}}</th>{% endfor %}</tr></thead>
{% for row in table.data %}
<tr>
<td title="{{ row.orgcode__name }}" ><a href="{%url qofdb.views.browse orgcode=row.orgcode year=year %}">{{ row.orgcode__name|truncatewords:4 }}</a></td>
{% if row.orgcode__level = 0 and row.areaid__flavour = 3 %}
	{% if row.numerator %}
			<td class="number">Yes</td>
		{% else %}
			<td class="number">No</td>
		{% endif %}
		<td></td><td></td><td></td>
{% else %}
	<td class="number">{{ row.numerator }}</td>
	<td class="number">{{ row.denominator }}</td>
	<td class="number">{{ row.ratio|percentage }}</td>
{% if row.orgcode__level < 25 %}
	<td class="number">{{ row.centile|centile }}</td>
	{% endif %}
{% endif %}
</tr>
{% endfor %}
</table>
   <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      
      function selectHandler(e) {
        alert(e.getSelection())
        }
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Organisation');
        data.addColumn('number','Prevalence');
        data.addColumn({type:'boolean', role:'scope'}); 
        data.addRows({{ table.data|length }});
        {% for row in table.data %}
        data.setValue({{ forloop.counter0}},0,"{{ row.orgcode__name }}");
        data.setValue({{ forloop.counter0}},1,{{ row.ratio }}*100);
        {% if row.orgcode__level < org.level %}
        data.setValue({{ forloop.counter0}},2,true);
        {% else %}
        data.setValue({{ forloop.counter0}},2,false);
        {% endif %}
        {% endfor %}
        
        var formatter = new google.visualization.TableNumberFormat({suffix: "%",fractionDigits:2});
        formatter.format(data, 1); // Apply formatter to second column
        var chart = new google.visualization.ColumnChart(document.getElementById('chart_div'));
        chart.draw(data, {width: 1000, height: 400, title: '{{org.name}} values for {{ indicator.areaid }}',
                          hAxis: {title: 'Organisation', titleTextStyle: {color: 'blue'}},
                          vAxis: {title: 'Prevalence (%)	'},
                          chartArea: {left: 60},
                          legend: {position:'none'}
                         });
        //google.visualization.events.addListener(chart, 'select', function() {alert(chart.getSelection()[0].column);}); 
        }
      </script>
<div id="chart_div"></div>
{% endblock %}