{% extends "base.html" %}
{% load qoftags %}
{% block content %}

<script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
</script>
<div id="main_content">
<span class="breadcrumbs">
{% for ancestor in ancestors reversed %}
<a href="{% url qofdb.views.browse orgcode=ancestor.code year=year %}" >{{ancestor.name}}</a> > 
{% endfor %}
{{ org.name }}
</span>
{% if alt_parent %}
<p><span class="alt">Also a member of <a href="{% url qofdb.views.browse orgcode=alt_parent.code year=year %}" >{{ alt_parent.name }}</a></span></p>
{% endif %}	
<p>{{ message }}
<div class="vcard">
<h1 id="orgname"><span class="fn org">{{ org.name }}</span></h1>
<span id="orgaddress">{{ org.niceaddr }}</span>
{% if org.level > 0 %}<a href="#childorgs" id="childlink">See member list for this organisation</a>{%endif%}</div>

<div id="datatable">
{%block data %}
{%endblock data %}
</div>
{% if england %}
<div id="england"><a href="http://www.ic.nhs.uk/qof" ><img src="http://www.ic.nhs.uk/webfiles/DataProtection/NHS%20IC%20CITATION%20logo%20B_WEB.jpg" alt="Data supplied by the Information Centre" ></a></div>
{% endif %}
</div>
{% endblock %}