{% extends "datapage.html" %}
{% load qoftags %}
{% block data %}
<h2>{{ indicator.areaid }}</h2>
<p>{{ indicator.description }}</p>
<table summary="Data for this organisation" >
<thead><tr>{% for heading in table.headings %}<th>{{heading}}</th>{% endfor %}</tr></thead>
{% for row in table.data %}
<tr>
<td title="{{ row.description }}" class="indicator">{{ row.area }}</td>
<td>{{ row.year|add:"2000" }}</td>
{% if org.level = 0 and row.flavour = 3 %}
	{% if row.numerator %}
			<td class="number">Yes</td>
		{% else %}
			<td class="number">No</td>
		{% endif %}
		<td></td><td></td><td></td>
{% else %}
	<td class="number">{{ row.numerator }}</td>
	<td class="number">{{ row.denominator }}</td>
	<td class="number">{{ row.ratio|percentage }}</td>
{% if row.orgcode__level < 25 %}
	<td class="number">{{ row.centile|centile }}</td>
	{% endif %}
{% endif %}
{% endfor %}
</table>
    <script type="text/javascript">
      google.load("visualization", "1", {packages:["corechart"]});
      google.setOnLoadCallback(drawChart);
      function drawChart() {
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Year');
        data.addColumn('number', '{{org.name}}');
        {% for ancestor in ancestors %}
        data.addColumn('number','{{ancestor.name}}'); 
{% endfor %}
        data.addRows({{ yearno }});
        {% for area in graph %}
        data.setValue{{area|safe}}
        {% endfor %}
        
        var formatter = new google.visualization.TableNumberFormat({suffix: "%",fractionDigits:2});
        formatter.format(data, 1); // Apply formatter to second column
        for (i=1;i<data.getNumberOfColumns();i=i+1)
            {
            formatter.format(data,i)
            }
        var chart = new google.visualization.LineChart(document.getElementById('chart_div'));
        chart.draw(data, {width: 1000, height: 400, title: '{{org.name}}',
                          hAxis: {title: 'Year', titleTextStyle: {color: 'blue'}},
                          vAxis: {title: 'Achievement (%)	'},
                          chartArea: {left: 60}
                         });
        }
      </script>
<div id="chart_div"></div>
{% endblock %}